In [2]:
import pandas as pd

In [37]:
path="/content/drive/MyDrive/Colab Notebooks/students_raw.csv"
df=pd.read_csv(path)
df.tail()

                 Name Roll Number  Mathematics  Science  English
495      Shawn Garner       R1495         57.0     37.0     81.0
496  Frederick Garcia       R1496         74.0    100.0     77.0
497       Michael Lee       R1497         35.0     40.0     65.0
498   Nicole Crawford       R1498          NaN      NaN     59.0
499    Isabel Wallace       R1499          NaN     64.0     96.0

In [40]:
import pandas as pd

# Load CSV into a DataFrame
df = pd.read_csv(path)

# Just viewing without saving
pd.read_csv(path)

                 Name Roll Number  Mathematics  Science  English
0         Randy Lopez       R1000         58.0     83.0     44.0
1     Jeanette Holmes       R1001          NaN     71.0     71.0
2      Natalie Palmer       R1002         86.0     53.0     97.0
3       Phillip Jones       R1003         76.0     92.0     86.0
4         Erik Miller       R1004         42.0     82.0     92.0
..                ...         ...          ...      ...      ...
495      Shawn Garner       R1495         57.0     37.0     81.0
496  Frederick Garcia       R1496         74.0    100.0     77.0
497       Michael Lee       R1497         35.0     40.0     65.0
498   Nicole Crawford       R1498          NaN      NaN     59.0
499    Isabel Wallace       R1499          NaN     64.0     96.0

[500 rows x 5 columns]

In [41]:
# Replace "N/A" and empty strings with NaN
df.replace(["N/A", ""], np.nan, inplace=True)

# Convert marks columns to numeric, force errors to NaN
for subject in ['Mathematics', 'Science', 'English']:
    df[subject] = pd.to_numeric(df[subject], errors='coerce')

# Replace NaN with the mean of each subject
for subject in ['Mathematics', 'Science', 'English']:
    mean_value = df[subject].mean()
    df[subject].fillna(mean_value, inplace=True)

# Done: Data cleaned with mean replacement
print(df.tail())

                 Name Roll Number  Mathematics     Science  English
495      Shawn Garner       R1495    57.000000   37.000000     81.0
496  Frederick Garcia       R1496    74.000000  100.000000     77.0
497       Michael Lee       R1497    35.000000   40.000000     65.0
498   Nicole Crawford       R1498    64.492341   64.036325     59.0
499    Isabel Wallace       R1499    64.492341   64.000000     96.0

<ipython-input-41-385601313>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[subject].fillna(mean_value, inplace=True)

In [55]:
# âž• Add Total and Percentage
df['Total'] = df[['Mathematics', 'Science', 'English']].sum(axis=1)
df['Percentage'] = df['Total'] / 3

# âž• Add Grade using conditions
def get_grade(pct):
    if pct >= 90:
        return 'A'
    elif pct >= 80:
        return 'B'
    elif pct >= 70:
        return 'C'
    elif pct >= 60:
        return 'D'
    else:
        return 'F'

df['Grade'] = df['Percentage'].apply(get_grade)

In [43]:
print(df.tail())

                 Name Roll Number  Mathematics     Science  English  \
495      Shawn Garner       R1495    57.000000   37.000000     81.0
496  Frederick Garcia       R1496    74.000000  100.000000     77.0
497       Michael Lee       R1497    35.000000   40.000000     65.0
498   Nicole Crawford       R1498    64.492341   64.036325     59.0
499    Isabel Wallace       R1499    64.492341   64.000000     96.0

          Total  Percentage Grade
495  175.000000   58.333333     F
496  251.000000   83.666667     B
497  140.000000   46.666667     F
498  187.528666   62.509555     D
499  224.492341   74.830780     C

In [44]:
# ðŸ’¾ Save cleaned data
df.to_csv("students_cleaned.csv", index=False)
print("Cleaned data saved to students_cleaned.csv")

Cleaned data saved to students_cleaned.csv

In [45]:
import pandas as pd

# Load the cleaned file
df_cleaned = pd.read_csv("students_cleaned.csv")

# Show the first 5 rows
print(df_cleaned.head())

              Name Roll Number  Mathematics  Science  English       Total  \
0      Randy Lopez       R1000    58.000000     83.0     44.0  185.000000
1  Jeanette Holmes       R1001    64.492341     71.0     71.0  206.492341
2   Natalie Palmer       R1002    86.000000     53.0     97.0  236.000000
3    Phillip Jones       R1003    76.000000     92.0     86.0  254.000000
4      Erik Miller       R1004    42.000000     82.0     92.0  216.000000

   Percentage Grade
0   61.666667     D
1   68.830780     D
2   78.666667     C
3   84.666667     B
4   72.000000     C

In [46]:
print(df_cleaned[['Name', 'Total', 'Percentage', 'Grade']])

                 Name       Total  Percentage Grade
0         Randy Lopez  185.000000   61.666667     D
1     Jeanette Holmes  206.492341   68.830780     D
2      Natalie Palmer  236.000000   78.666667     C
3       Phillip Jones  254.000000   84.666667     B
4         Erik Miller  216.000000   72.000000     C
..                ...         ...         ...   ...
495      Shawn Garner  175.000000   58.333333     F
496  Frederick Garcia  251.000000   83.666667     B
497       Michael Lee  140.000000   46.666667     F
498   Nicole Crawford  187.528666   62.509555     D
499    Isabel Wallace  224.492341   74.830780     C

[500 rows x 4 columns]

In [47]:
# Round all numeric columns to 0 decimal places
df_cleaned = df_cleaned.round(0)

# Convert specific columns to integers
df_cleaned['Mathematics'] = df_cleaned['Mathematics'].astype(int)
df_cleaned['Science'] = df_cleaned['Science'].astype(int)
df_cleaned['English'] = df_cleaned['English'].astype(int)
df_cleaned['Total'] = df_cleaned['Total'].astype(int)
df_cleaned['Percentage'] = df_cleaned['Percentage'].astype(int)

df_cleaned.to_csv("students_cleaned.csv", index=False)

In [48]:
print(df_cleaned[['Name', 'Total', 'Percentage', 'Grade']])

                 Name  Total  Percentage Grade
0         Randy Lopez    185          62     D
1     Jeanette Holmes    206          69     D
2      Natalie Palmer    236          79     C
3       Phillip Jones    254          85     B
4         Erik Miller    216          72     C
..                ...    ...         ...   ...
495      Shawn Garner    175          58     F
496  Frederick Garcia    251          84     B
497       Michael Lee    140          47     F
498   Nicole Crawford    188          63     D
499    Isabel Wallace    224          75     C

[500 rows x 4 columns]